In [8]:

import sqlite3

dbname = 'mytest.db'
conn = sqlite3.connect(dbname)

# 建立customers資料表：(customer_id, customer_name)
sqlstr = 'CREATE TABLE customers (customer_id INTEGER, customer_name TEXT, PRIMARY KEY(customer_id));'
conn.execute(sqlstr)
print('SQL table customers created.')

sqlstr = 'CREATE TABLE orders (order_id INTEGER, customer_id INTEGER, order_date TEXT, amount REAL, PRIMARY KEY(order_id));'
conn.execute(sqlstr)
print('SQL table orders created.')

conn.commit()
conn.close()

SQL table customers created.
SQL table orders created.

In [6]:

import sqlite3

dbname = 'mytest.db'
conn = sqlite3.connect(dbname)

sqlstr = 'DROP TABLE customers;'
conn.execute(sqlstr)
print('SQL table customers dropped')

sqlstr = 'DROP TABLE orders;'
conn.execute(sqlstr)
print('SQL table orders dropped')

conn.commit()
conn.close()

SQL table customers dropped
SQL table orders dropped

In [14]:

import sqlite3

dbname = 'mytest.db'
conn = sqlite3.connect(dbname)

dic1 = {101:'John Doe', 102:'Bruce Wayne', 103:'Tony Stark'}

for key in dic1.keys():
    sqlstr = 'INSERT INTO customers (customer_id, customer_name) VALUES ('+str(key)+', "'+dic1[key]+'");'
    conn.execute(sqlstr)
    print(sqlstr)

conn.commit()
conn.close()

INSERT INTO customers (customer_id, customer_name) VALUES (101, "John Doe");
INSERT INTO customers (customer_id, customer_name) VALUES (102, "Bruce Wayne");
INSERT INTO customers (customer_id, customer_name) VALUES (103, "Tony Stark");

In [13]:

import sqlite3

dbname = 'mytest.db'
conn = sqlite3.connect(dbname)
cur = conn.cursor()

cid = 103
sqlstr = 'DELETE FROM customers WHERE customer_id='+str(cid)+';'
#sqlstr = 'DELETE FROM customers;' will delete all records in customers
print(sqlstr)
cur.execute(sqlstr)
if cur.rowcount==1:
    print('Customer id '+str(cid)+' deleted.')
else:
    print('Delete failed.')

conn.commit()
conn.close()

DELETE FROM customers WHERE customer_id=1034;
Delete failed.

In [35]:

import sqlite3

dbname = 'mytest.db'
conn = sqlite3.connect(dbname)
cur = conn.cursor()

sqlstr = 'UPDATE customers SET customer_name="John Smith" WHERE customer_id=101;'
print(sqlstr)
cur.execute(sqlstr)
if cur.rowcount==1:
    print('Customer id 101 updated.')
else:
    print('Update failed.')

conn.commit()
conn.close()

UPDATE customers SET customer_name="John Smith" WHERE customer_id=101;
Customer id 101 updated.

In [20]:

import sqlite3

dbname = 'mytest.db'
conn = sqlite3.connect(dbname)
cur = conn.cursor()

sqlstr = 'SELECT * FROM customers;'
#sqlstr = 'SELECT customer_name FROM customers;'
print(sqlstr)
results = cur.execute(sqlstr)
print('Result set size:', len(list(results)))

size = 0
results = cur.execute(sqlstr)
for rec in results:
    print(rec)
    size += 1
print('Result set size:', size)

conn.commit()
conn.close()

SELECT * FROM customers;
Result set size: 3
(101, 'John Doe')
(102, 'Bruce Wayne')
(103, 'Tony Stark')
Result set size: 3

In [45]:

import sqlite3

dbname = 'mytest.db'
conn = sqlite3.connect(dbname)
cur = conn.cursor()

sqlstr = 'SELECT customer_name FROM customers WHERE customer_id>=102;'
print(sqlstr)
results = cur.execute(sqlstr)
#print('Result set size:', len(list(results)))
size = 0
for rec in results:
    print(rec)
    size += 1
print('Result set size:', size)

conn.commit()
conn.close()

SELECT customer_name FROM customers WHERE customer_id>=102;
('Bruce Wayne',)
('Tony Stark',)
Result set size: 2