In [8]:

x = 1
_y = 2
z375a2 = 3
_234g67 = 1.414

a_1 = 50

b567 = 'a test is a test'

str1 = '''test1
test2
test3'''
print(str1)
print(_234g67)

test1
test2
test3
1.414

In [19]:

c = 10+5j
d = 10-5j
e = c*d
print(e)
print(c)
c = 3
print(c)

(125+0j)
(10+5j)
3

In [12]:
print(3+2)
print(3-2)
print(3*2)
print(3/2)
print(3%2)

5
1
6
1.5
1

In [14]:

print(123/456)
print(123%456)
print(123//456)

0.26973684210526316
123
0

In [15]:

print(10/3)

3.3333333333333335

In [18]:
print(10.4**0.5)

3.22490309931942

In [20]:
4+9

13

In [21]:
'Hello' + 'World'

'HelloWorld'

In [26]:
a = 4+9
print(type(a))
b = a*3.6
print(type(b))
c = (a+b)/7.5
print(type(c))
d = 'Hello World'
print(type(d))
c = d+'!'
print(type(c))

<class 'int'>
<class 'float'>
<class 'float'>
<class 'str'>
<class 'str'>

In [29]:

c = (a+b)/7.5
print(type(c))
print(isinstance(c, complex))
print(isinstance(c, float))

<class 'float'>
False
True

In [31]:

str1 = "使用双引號的字串"
print(str1)
str2 = '使用單引號的字串'
print(str2)
str3 = '''test1
test2
test3'''
print(str3)

使用双引號的字串
使用單引號的字串
test1
test2
test3

In [41]:

str1 = '哈囉大家好 '
str2 = ' 你好嗎？ '
print(str1[0:2])
print(str2[3])
print(str1*2)
print(str1+str2)

str3 = str1+str2

print(str2[0:3], str2[4:])
str4 = str2[0:3]+'吧'+str2[4:]
print(str4)
#print(str2.replace('嗎', '吧'))

str2[3] = '吧'

哈囉
嗎
哈囉大家好 哈囉大家好
哈囉大家好  你好嗎？
 你好 ？
 你好吧？

TypeError: 'str' object does not support item assignment

In [42]:
#魏恩慈同學程式碼，可是我可以run耶！！
str1 ='哈囉大家好'
str2 =' 你好嗎？'
print(str1[0:2])
print(str2[3])
print(str1*2)
print(str1+str2)

哈囉
嗎
哈囉大家好哈囉大家好
哈囉大家好 你好嗎？

In [51]:

list1 = ['a', 1, 10+5j, False]
print(type(list1))
print(list1)
print(len(list1))
print(list1[3:])
print(list1[3])
print(list1[0:2])
print(list1+list1)
print(list1*3)
print(list1)

list1[2] = 'Java'
print(list1)

<class 'list'>
['a', 1, (10+5j), False]
4
[False]
False
['a', 1]
['a', 1, (10+5j), False, 'a', 1, (10+5j), False]
['a', 1, (10+5j), False, 'a', 1, (10+5j), False, 'a', 1, (10+5j), False]
['a', 1, (10+5j), False]
['a', 1, 'Java', False]

In [54]:

list2 = [1, 'hi', 'Python', 2]
list2[1] = 'hihi'
list2[2] = [1, 2, 3]
print(list2)
print(len(list2))

[1, 'hihi', [1, 2, 3], 2]
4

In [62]:

tup1 = (1, 'hi', 'Python', 2)
print(type(tup1))
print(len(tup1))
print(tup1[2])
print(tup1[2:])
print(tup1[3:])

#tup1[2] = 'hihi'

print(type((2)))

<class 'tuple'>
4
Python
('Python', 2)
(2,)
<class 'int'>

In [71]:

rng1 = range(1, 20)
print(type(rng1))
print(list(rng1))
print(len(rng1))

for i in rng1:
    print(i)

<class 'range'>
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]
19
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [66]:

rng2 = range(20)
print(type(rng2))
print(list(rng2))
print(len(rng2))

<class 'range'>
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]
20

In [72]:

rng3 = range(5, 50, 3)
print(type(rng3))
print(list(rng3))
print(len(rng3))

<class 'range'>
[5, 8, 11, 14, 17, 20, 23, 26, 29, 32, 35, 38, 41, 44, 47]
15

In [125]:

list1 = list()
list2 = []
set1 = set()
print(list1)
print(list2)
print(set1)

set2 = {'James', 2, 3, 'Python'}
print(set2)
set2.add(10)
print(set2)
set2.add(2)
print(set2)
set2.remove(2)
print(set2)

b1 = 3 in set2
print(b1)

set3 = {'Mary', 'sheep', tup1}
print(set3)

print(type(set1))
print(type(set2))
print(type(set3))

[]
[]
set()
{2, 3, 'James', 'Python'}
{2, 3, 'Python', 10, 'James'}
{2, 3, 'Python', 10, 'James'}
{3, 'Python', 10, 'James'}
True
{'Mary', 'sheep', (1, 'hi', 'Python', 2)}
<class 'set'>
<class 'set'>
<class 'set'>

In [95]:

dic1 = {1:'Jimmy', 2:'Alex', '3':'john', 4:'mike', 'Mary':'sheep'}
print(type(dic1))
print(dic1)

print(dic1[1])
print(dic1['3'])
print(dic1['Mary'])
#print(dic1['mary'])

print(dic1.keys())
print(dic1.values())
print(dic1.items())

dic1[1] = 'Tom'
print(dic1)
dic1[9999] = 'hello'
print(dic1)

<class 'dict'>
{1: 'Jimmy', 2: 'Alex', '3': 'john', 4: 'mike', 'Mary': 'sheep'}
Jimmy
john
sheep
dict_keys([1, 2, '3', 4, 'Mary'])
dict_values(['Jimmy', 'Alex', 'john', 'mike', 'sheep'])
dict_items([(1, 'Jimmy'), (2, 'Alex'), ('3', 'john'), (4, 'mike'), ('Mary', 'sheep')])
{1: 'Tom', 2: 'Alex', '3': 'john', 4: 'mike', 'Mary': 'sheep'}
{1: 'Tom', 2: 'Alex', '3': 'john', 4: 'mike', 'Mary': 'sheep', 9999: 'hello'}

In [104]:

print(10 > 9)
print(10 < 9)
print(10 >= 9)
print(10 <= 9)
print(10 == 9)
print(10 == 10)
print('abc' == 'def')
print('abc' == 'abc')
#f(x) == g(y)

a = 200
b = 200

if b>a:
    print('b is bigger')
else:
    print('a is bigger')

True
False
True
False
False
True
False
True
a is bigger

In [113]:

print('abc'>'abd')
#print('abc'<='cba')

True

In [120]:

x = int(3.99415926)
#y = int("3.1415926")
print(x)

x = float(3)
y = float("3.1415926")
print(x, y)

x = str('s1')
y = str(0)
z = str(2.7182818)
print(x, y, z)
print(type(x), type(y), type(z))

3
3.0 3.1415926
s1 0 2.7182818
<class 'str'> <class 'str'> <class 'str'>

In [121]:

a = 200
b = 3
print(a != b)

True

In [123]:

x = 35
x += 7     # x = x+7
print(x)
x -= 3     # x = x-3
print(x)

x %= 5     # x = x%5
print(x)

x //= 2    # x = x//2
print(x)

x **= 7    # x = x**7
print(x)

x *= 1.1   # x = x*1.1
print(x)
x /= 2     # x = x/2
print(x)

42
39
4
2
128
140.8
70.4

In [128]:

tup1 = (1, 2, 3)
tup2 = (1, 2, 3)
tup3 = tup1

print(1, tup1 == tup2)
print(2, tup2 == tup3)
print(3, tup3 == tup1)
print(4, tup1 is tup2)
print(5, tup2 is tup3)
print(6, tup3 is tup1)


list1 = [1, 2, 3]
list2 = [1, 2, 3]
list3 = list1

print(11, list1 == list2)
print(12, list2 == list3)
print(13, list3 == list1)
print(14, list1 is list2)
print(15, list2 is list3)
print(16, list3 is list1)

1 True
2 True
3 True
4 False
5 False
6 True
11 True
12 True
13 True
14 False
15 False
16 True