In [6]:

set1 = {0, 1, 2, 3, 4, 5}
set2 = set(range(0, 10, 2))
print(set1, set2)

set3 = set1 & set2
print('intersection', set3)
set4 = set1 | set2
print('union', set4)
set5 = set1 - set2
print('set1-set2', set5)
set6 = set2 - set1
print('set2-set1', set6)
set7 = set1 ^ set2
print('symm. diff.', set7)

{0, 1, 2, 3, 4, 5} {0, 2, 4, 6, 8}
intersection {0, 2, 4}
union {0, 1, 2, 3, 4, 5, 6, 8}
set1-set2 {1, 3, 5}
set2-set1 {8, 6}
symm. diff. {1, 3, 5, 6, 8}

In [10]:

set7 = set()
for i in range(1, 500):
    if i%7==0:
        set7.add(i)

set9 = set()
for i in range(1, 500):
    if i%9==0:
        set9.add(i)

print('7 and 9:', set7 & set9, 'sum:', sum(set7&set9))
print('7 but not 9:', set7 - set9, 'sum:', sum(set7-set9))
print('not 7 but 9:', set9 - set7, 'sum:', sum(set9-set7))

7 and 9: {441, 378, 315, 252, 189, 126, 63} sum: 1764
7 but not 9: {385, 259, 133, 7, 392, 266, 140, 14, 399, 273, 147, 21, 406, 280, 154, 28, 413, 287, 161, 35, 420, 294, 168, 42, 427, 301, 175, 49, 434, 308, 182, 56, 448, 322, 196, 70, 455, 329, 203, 77, 462, 336, 210, 84, 469, 343, 217, 91, 476, 350, 224, 98, 483, 357, 231, 105, 490, 364, 238, 112, 497, 371, 245, 119} sum: 16128
not 7 but 9: {387, 261, 135, 9, 396, 270, 144, 18, 405, 279, 153, 27, 414, 288, 162, 36, 423, 297, 171, 45, 432, 306, 180, 54, 450, 324, 198, 72, 459, 333, 207, 81, 468, 342, 216, 90, 477, 351, 225, 99, 486, 360, 234, 108, 495, 369, 243, 117} sum: 12096

In [15]:

fset1 = frozenset({1, 2, 3, 4, 4, 5, 5, 5})
print(fset1)
#fset1.remove(2)
fset1.add(999)

frozenset({1, 2, 3, 4, 5})

AttributeError: 'frozenset' object has no attribute 'add'

In [21]:

dic1 = {'name':'Amy', 'age':18}
print(dic1['name'])
dic1['age'] = 29
print(dic1)
#print(dic1['writer'])
dic1['job'] = 'writer'
print(dic1)

Amy
{'name': 'Amy', 'age': 29}
{'name': 'Amy', 'age': 29, 'job': 'writer'}

In [25]:

dic1 = {44:[0, 1, 2], (3, 4):{'x':1}}
print(dic1)

dic2 = {8622501: {'name': 'Amy', 'age': 26}, 8622502: {'name': 'Bob', 'age': 33}}
print(dic2)
print(dic2[8622502]['name'])

{44: [0, 1, 2], (3, 4): {'x': 1}}
{8622501: {'name': 'Amy', 'age': 26}, 8622502: {'name': 'Bob', 'age': 33}}
Bob

In [44]:

dic1 = {'name': 'Amy', 'age': 26, 'score': 86}
print(len(dic1))
#for k in dic1:
for k in dic1.keys():
    print(k)

for k in dic1.items():
    print(k)

for x, y in dic1.items():
    print('key:', x, ', value', y)

#print('age' in dic1.keys())
print('age' in dic1)

del dic1['score']
print(dic1)

3
name
age
score
('name', 'Amy')
('age', 26)
('score', 86)
key: name , value Amy
key: age , value 26
key: score , value 86
True
{'name': 'Amy', 'age': 26}

In [33]:

keys = ('name', 'age', 'job')
values = ('Amy', 26, 'writer')
dic1 = {}
for i in range(len(keys)):
    dic1[keys[i]] = values[i]
    
print(dic1)

{'name': 'Amy', 'age': 26, 'job': 'writer'}

In [35]:

dic1 = dict(zip(keys, values))
print(dic1)

print(dic1['score'])

{'name': 'Amy', 'age': 26, 'job': 'writer'}

KeyError: 'score'

In [40]:

print(dic1['age'])
#print(dic1['score'])
print(dic1.get('score'))
if dic1.get('score')==None:
    dic1['score']=0
print(dic1)
del dic1['score']

26
0
{'name': 'Amy', 'age': 26, 'job': 'writer', 'score': 0}

In [42]:

dic1 = {'name': 'Amy', 'age': 26}
print(dic1.get('score', 0))
print(dic1.get('name', 'N/A'))

0
Amy

In [46]:

list1 = ['a', 'bar', 'candy', 'o', 'car']

set1 = {len(e) for e in list1}
print(set1)

set2 = {e for e in list1 if len(e)==1}
print(set2)

{1, 3, 5}
{'o', 'a'}

In [51]:

n = 1000
set1 = set(range(2, n+1))
#print(set1)

for k in range(2, n+1):
    setK = {k2 for k2 in range(k*2, n+1, k)}
    set1 = set1-setK

print(len(set1))
print(sorted(list(set1)))

168
[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97, 101, 103, 107, 109, 113, 127, 131, 137, 139, 149, 151, 157, 163, 167, 173, 179, 181, 191, 193, 197, 199, 211, 223, 227, 229, 233, 239, 241, 251, 257, 263, 269, 271, 277, 281, 283, 293, 307, 311, 313, 317, 331, 337, 347, 349, 353, 359, 367, 373, 379, 383, 389, 397, 401, 409, 419, 421, 431, 433, 439, 443, 449, 457, 461, 463, 467, 479, 487, 491, 499, 503, 509, 521, 523, 541, 547, 557, 563, 569, 571, 577, 587, 593, 599, 601, 607, 613, 617, 619, 631, 641, 643, 647, 653, 659, 661, 673, 677, 683, 691, 701, 709, 719, 727, 733, 739, 743, 751, 757, 761, 769, 773, 787, 797, 809, 811, 821, 823, 827, 829, 839, 853, 857, 859, 863, 877, 881, 883, 887, 907, 911, 919, 929, 937, 941, 947, 953, 967, 971, 977, 983, 991, 997]